#-------------------------------------------------------------------------------
# Clock and reset
#
NET     "clock"         LOC = "A10";
NET     "reset_n"       LOC = "A15"     | PULLUP;

#-------------------------------------------------------------------------------
# In signals
NET     "LR_In"         LOC = "G4" ;
NET     "CLK_In"        LOC = "E2" ;
NET     "Data_In"       LOC = "G3" ;

#-------------------------------------------------------------------------------
# Out signals
#
NET     "Data_O"  		LOC = "A11"  ;
NET     "CLK_O"  		LOC = "A14" ;
NET     "LR_O"  		LOC = "A8"  ;

#----------------------------------------------------------------------------
# Globals
#
NET "*" IOSTANDARD = LVCMOS33;
