#-------------------------------------------------------------------------------
# Clock and reset
#
NET     "clock"         LOC = "A10";
NET     "reset_n"       LOC = "A15"     | PULLUP;

#-------------------------------------------------------------------------------
# In signals
NET     "LR_In"         LOC = "G4" ;
NET     "CLK_In"        LOC = "E2" ;
NET     "Data_In"       LOC = "G3" ;
#set 2
NET     "S20"           LOC = "C7";
NET     "S21"           LOC = "E9";
NET     "S22"           LOC = "A8";
NET     "S23"           LOC = "F11";
#set 3
NET     "S30"           LOC = "B11";
NET     "S31"           LOC = "B13";
NET     "S32"           LOC = "B14";
NET     "S33"           LOC = "E7";
#set 4
NET     "S40"           LOC = "E8";
NET     "S41"           LOC = "G9";
NET     "S42"           LOC = "F9";
NET     "S43"           LOC = "F7";


#-------------------------------------------------------------------------------
# Out signals
#
NET     "Data_O"  		LOC = "A4"  ;
NET     "CLK_O"  		LOC = "B6" ;
NET     "LR_O"  		LOC = "A6"  ;
NET     "testOut<0>"  	LOC = "D5"  ;
NET     "testOut<1>"  	LOC = "C3"  ;
NET     "testOut<2>"  	LOC = "C4"  ;
NET     "testOut<3>"  	LOC = "C5"  ;
NET     "testOut<4>"  	LOC = "G6"  ;
NET     "testOut<5>"  	LOC = "B3"  ;
NET     "testOut<6>"  	LOC = "B4"  ;

#----------------------------------------------------------------------------
# Globals
#
NET "*" IOSTANDARD = LVCMOS33;
